= form_for('user', url: password_resets_path, method: :post, html: {class: 'form-stacked'}) do |f|
  %fieldset
    %legend Forgot your password?
    .clearfix
      = f.label :email
      .input
        = f.email_field :email, placeholder: 'Email'
    = f.submit 'Reset password', class: 'btn btn-primary'