%header.jumbotron.masthead
  .inner
    %h1 S3 Upload
    %p A simple way to upload images to S3.
    %p.download-info
      %a.btn.btn-primary.btn-large{href: new_user_registration_path} Register
      %a.btn.btn-large{href: new_user_session_path} Login