body.albums {

  &.index {
    .thumbnail {
      padding: 15px 15px 0px 15px;
      width: 200px;
      height: 250px;

      img {
        border: 1px solid #D3D3D3;
        width: 200px;
        height: 200px;
      }

      .thumbnail-title {
        text-align: center;
        padding: 8px 0px;
      }
    }
  }

  &.show {
    .selection {
      position: absolute;
      border: 1px solid #89B;
      background: #BCE;
      background-color: #BEC;
      border-color: #8B9;
    }

    .size2 {
      height: 118px;
      line-height: 118px;
    }

    .size3 {
      height: 178px;
      line-height: 178px;
    }

    .drop {
      float: left;
      border: 1px dashed #888;
      background: #EEE;
      text-align: center;
      padding: 20px;
      margin: 0 10px 10px 0;
    }

    .dropped {
      background-color: #EBC;
      border-color: #B89;
    }

    .active {
      background-color: #CEB;
      border-color: #9B8;
    }

    #image_url {
      background-color:white;
      cursor:auto;
    }

    #copy-url {
      background-image:url('/assets/clippy.png');
      display:inline-block;
      height:16px;
      width:16px;
      background-color:transparent;
      background-position:0 0;
      background-repeat:no-repeat;
      vertical-align:text-bottom;
      margin:4px 0 0 5px;
    }

    .thumbnails {
      clear: both;
    }

    #uploader {

      .actions {
        margin-top: 10px;
      }

      #file_list {
        margin-top: 20px;
        width: 30%;

        li {
          border-bottom: 1px solid #ddd;

          .file_info {
            margin: 10px;
          }

          .progress {
            margin: 10px;
          }
        }
      }
    }
  }
}