body.albums {

  &.index {
    .thumbnail {
      padding: 15px 15px 0px 15px;
      width: 200px;
      height: 250px;

      img {
        border: 1px solid #D3D3D3;
        width: 200px;
        height: 200px;
      }

      .thumbnail-title {
        text-align: center;
        padding: 8px 0px;
      }
    }
  }

  &.show {
    #image_url {
      background-color:white;
      cursor:auto;
    }

    #copy-url {
      background-image:url('/assets/clippy.png');
      display:inline-block;
      height:16px;
      width:16px;
      background-color:transparent;
      background-position:0 0;
      background-repeat:no-repeat;
      vertical-align:text-bottom;
      margin:4px 0 0 5px;
    }

    .thumbnails {
      clear: both;
    }

    #uploader {

      .actions {
        margin-top: 10px;
      }

      #file_list {
        margin-top: 20px;
        width: 30%;

        li {
          border-bottom: 1px solid #ddd;

          .file_info {
            margin: 10px;
          }

          .progress {
            margin: 10px;
          }
        }
      }
    }
  }
}