#uploader
  %h3 Drag & Drop Images Anywhere or Click Below!
  .actions
    %button.btn#select_files Select Files
    %button.btn.btn-primary#start_upload{data: {:'loading-text' => 'Uploading', :'complete-text' => 'Uploaded!'}} Upload
  %ul.unstyled#file_list
