#uploader
  %h3 Drag & Drop Images Anywhere or Click Below!
  .actions
    %button.btn#select_files Select Files
    %button.btn.btn-primary#start_upload{data: {:'loading-text' => 'Uploading', :'complete-text' => 'Uploaded!'}} Upload
    %button.btn#start_selection{data: {toggle: 'button', :'toggled-text' => 'Selecting'}} Upload Generate Links
  %ul.unstyled#file_list
